---
layout: default
---

<div class="container-fluid call-out">
    <div class="row justify-content-center">
        <div class="col-12 col-6">
            A COLLECTION OF OBSERVATIONS, THOUGHTS &amp; IDEAS
        </div>
    </div>
</div>

<div class="container-fluid posts">
    {% for post in paginator.posts %}
    <div class="row post-teaser">
        <div class="col-12">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-8">
                    <h1 class="title">
                        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                    </h1>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-12 col-lg-8">
                    <p class="meta">{{ post.date | date: "%B %-d, %Y" }}</p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-12 col-lg-8">
                    <div class="excerpt">{{ post.excerpt }}</div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-12 col-lg-8">
                    <a class="button" href="{{ post.url | prepend: site.baseurl }}">Continue Reading >></a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<div class="container-fluid pagination">
    <div class="row justify-content-center">
        {% if paginator.next_page %}
        <div class="col-12 col-lg-6">
            <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="button button-lg" >
                <span aria-hidden="true">←</span> Older Posts
            </a>
        </div>
        {% endif %}
        {% if paginator.previous_page %}
        <div class="col-12 col-lg-6">
            <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="button button-lg" >
                Newer Posts <span aria-hidden="true">→</span>
            </a>
        </div>
        {% endif %}
    </div>
</div>
{% endif %}
