// Site Header
.site-header {
    @include padding-small;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    font-family: $font-family-sans-serif;

    a {
        color: #383838;
        text-decoration: none;
    }

    .avatar {
        height: 2em;
        width: 2em;
        border-radius: 0.2em;
        margin-right: 1em;
        display: inline;
        vertical-align: middle;
    }

    .site-title {
        font-weight: bold;
        font-size: 1em;
    }

    .site-nav {
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            line-height: 1.5;
            text-align: right;
        }

        li {
            display: inline;
            margin-right: 0.4em;
        }
    }
}

@media (max-width: 991px) {
    .site-header .branding {
        text-align: center;
    }

    .site-header .site-nav {
        display: none;
    }
}
