// Post Tags
.tags {
    margin-top: 1em;
    text-align: center;
    font-family: $font-family-sans-serif;
    font-size: 0.8em;

    .tag {
        margin-right: 0.5em;
        color: $tags-color;
    }
}
