article {
    padding-top: $padding-small;

    header {
        text-align: center;
        padding: 0 $padding-large/2;

        h1 {
            margin: 0;
        }

        .meta {
            color: rgba($text-color, .5);
            font-size: 0.9em;
            letter-spacing: 0.1em;
            margin: 0;
            text-transform: uppercase;
        }
    }

    .post-content {
        margin-top: 5%;
        margin-bottom: 10%;

        a {
            @extend .p-link;
        }

        img:not(.emoji) {
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
        }

        .footnotes {
            font-size: 0.9em;
        }
    }
}

article.feature-image {
    padding: 0;

    header {
        color: #fff;
        background-size: cover;
        padding: $padding-large/2.5 $padding-large/2;

        .meta {
            color: rgba(#fff, 0.7);
        }
    }
}

@media screen and (max-width: 575px) {
    .feature-image .post-content {
        padding: $padding-small;
    }
}
