article {
    padding-top: $padding-small;

    .post-header {
        text-align: center;

        h1 {
            margin: 0;
            margin-bottom: 0.3em;
            @media only screen and (max-width: 991px) {
                word-wrap: break-word;
                hyphens: auto;
            }
        }

        .meta {
            color: rgba($text-color, .5);
            font-size: 0.9em;
            letter-spacing: 0.1em;
            margin: 0;
            text-transform: uppercase;
        }
    }

    .post-content {
        margin-top: 5%;
        margin-bottom: 10%;

        a {
            @extend .p-link;
        }

        img:not(.emoji) {
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
        }

        .footnotes {
            font-size: 0.9em;
        }
    }
}

article.feature-image {
    padding: 0;

    .post-header {
        color: #fff;
        background-size: cover;
        padding-top: $padding-large/2.5;
        padding-bottom: $padding-large/2.5;

        .meta {
            color: rgba(#fff, 0.7);
        }
    }
}
