---
layout: default
---
<article {% if page.image %}class="feature-image"{% endif %}>
    <header {% if page.image %}style="background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('{{ site.baseurl }}/{{ page.image }}'); background-position: center;"{% endif %}">
        <h1 class="title">{{ page.title }}</h1>
        {% if page.subtitle %}<h2 class="subtitle">{{ page.subtitle }}</h3>{% endif %}
    </header>
    <section class="post-content">{{ content }}</section>
</article>
