// Typography
$font-family-main: 'PT Serif', Georgia, 'Times New Roman', serif;
$font-family-headings: 'Open Sans', Helvetica, Arial, sans-serif;
$font-family-sans-serif: 'Open Sans', Helvetica, Arial, sans-serif;

// Typography Colors
$text-color: #383838;
$link-color: #333;

// Padding
$padding-large: 20%;
$padding-small: 5%;
$padding-x-small: 3%;

